
{% extends "base.html" %}

{% block header %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('get_style', styleFile='landingPage') }}">
{% endblock %}

{% block main %}

<h1 class="welcome-heading" role="heading" aria-label="welcoming"><span style="font-size: 3rem;color: black;">Welcome</span><br> to E-voting Application</h1>
<p class="welcome-subtitle" aria-label="welcome-subtitle">
    You can easily create votes and give your vote from every place on the earth.<br> Everything efficient, fast and secure with our system
</p>
<p class="welcome-subtitle" aria-label="register-instruction" style="font-size: 1.4rem;">
    Register now, just by clicking the button below
</p>
<section class="margin-y">
    <a href="{{ url_for('register_user') }}">
        <button class="primary-button" aria-label="register button">
            <span class="ts-lg" aria-hidden="true">
                Get start
            </span>
        </button>
    </a>
</section>

<p class="welcome-subtitle ts-md margin-y" aria-label="having-account-paragraph">
    **if you have an account, just log in 
</p>

{% endblock %}

{% block footer %}
    <section class="copyright-section">
        <h2>&copy; 2025 Kamil Kijak</h2>
        <h2>Application powered using python with <a target="_blank" href="https://flask.palletsprojects.com/en/stable/">flask</a> framework</h2>
    </section>
{% endblock %}