

{% extends "base.html" %}

{% block title %}
    Vote preview - E-voting app
{% endblock %}

{% block header %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('get_style', styleFile='preview') }}">
{% endblock %}

{% block main %}
    <section class="main-container">
        <section class="vote-title">
            <h1>{{ vote.title }}</h1>
            <div class="primary-spliter"></div>
        </section>
        <section class="author">
            <h3>Vote created by: {{ user.name + " " + user.surname}}</h3>
            <a href="{{ url_for('user_data', id=user.id) }}" class="primary-button">
                View creator
            </a>
        </section>
        <section class="dates-container">
            <section class="{{ 'success-message' if vote.status == 'In progress' else 'warning-message' if vote.status == 'Waiting' else 'error-message' }}">
                <h3>{{ vote.status }}</h3>
            </section>
            {% if vote.status == "Ended" %}
                <section class="success-message">
                    <h3>Winner: {{ (vote.options|max(attribute='votingCount')).name }}</h3>
                </section>
            {% endif %}
            <section class="flex-center">
                <p>Start date: {{ vote.startDate }}</p>
                <p>End date: {{ vote.endDate }}</p>
            </section>
        </section>
        <section class="description-title">
            <h2 style="text-align: center;">Description</h2>
            <div class="primary-spliter"></div>
        </section>
        <section class="description">
            <section>
                <p>{{ vote.description }}</p>
            </section>
        </section>
        <section class="realtime-results">
            <h3>Real time results: {{ 'YES' if vote.realTimeResults else 'NO' }}</h3>
        </section>
        <section class="options-title">
            <h2 style="text-align: center;">Vote Options</h2>
            <div class="primary-spliter"></div>
        </section>
        <section class="votes-options">
            {% for voteOption in vote.options|sort(attribute='name') %}
                {% if vote.realTimeResults or vote.status == "Ended" %}
                    <p><span style="font-weight: bold;">{{ voteOption.name }}</span> votes: {{ voteOption.votingCount }}</p>
                {% else %}
                    <p><span style="font-weight: bold;"><i class="fa-solid fa-lock"></i> {{ voteOption.name }}</span>  results hidden</p>
                {% endif %}
            {% endfor %}
        </section>
        {% if not (vote.realTimeResults or vote.status == "Ended") %}
            <p class="results-info-tip" style="font-weight: bold;margin-top: 2rem;">*Vote results will be displayed when voting has ended*</p>
        {% endif %}
        {% if not vote.status == "Ended" %}
            {% if not vote.status == "Waiting" %}
                {% if not alreadyVoted %}
                    <section class="error-message" style="margin-top: 1rem;">
                        You haven't voted yet!
                    </section>
                    <a href="{{ url_for('voting', idVote=vote.id)}}">
                        <button class="primary-button back-button">
                            <span class="ts-xl">
                                Vote!
                            </span>
                        </button>
                    </a>
                {% else %}
                    <section class="success-message" style="margin-top: 1rem;">
                        You already voted!
                    </section>
                {% endif %}
            {% else %}
                <section class="warning-message" style="margin-top: 1rem;">
                    Voting haven't started yet!
                </section>
            {% endif %}
        {% else %}
            <section class="error-message" style="margin-top: 1rem;">
                Voting already ended!
            </section>
        {% endif %}
        <a href="{{ url_for(originPage)}}">
            <button class="primary-button back-button">
                <span class="ts-lg">
                    Back
                </span>
            </button>
        </a>
    </section>
{% endblock %}