
{% extends "base.html" %}

{% block title %}
    {% if not found %}
        User not found - E-voting app
    {% else %}
        {% if permission %}
            My profile - E-voting app
        {% else %}
            {{ user.name + " " + user.surname }} profile - E-voting app
        {% endif %}
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('get_style', styleFile='user') }}">
{% endblock %}

{% block header %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block main %}
    {% if not found %}
    <section>
        <h1 aria-label="error heading">User Not found</h1>
        <div class="primary-spliter" aria-label="spliter"></div>
    </section>
    <section class="flex-center" style="flex-direction: column;">
        <p aria-label="error text" class="margin-y ts-lg" style="text-align: center;">User with this ID is not existing<br> Check correctness of user ID</p>
        <a href="{{ url_for('main_page')}}">
            <button class="primary-button" aria-label="back button">
                <span class="ts-lg" aria-hidden="true">
                    Back
                </span>
            </button>
        </a>
    </section>
    {% else %}
    {% if success %}
        <section class="margin-y">
            <p class="success-message"><i class="fa-solid fa-check"></i> {{ success }}</p>
        </section>
    {% endif %}
    <section class="margin-y">
        <h1 aria-label="error heading" style="font-size: 2.5rem;">Profile description</h1>
        <div class="primary-spliter" aria-label="spliter"></div>
    </section>
    <section class="flex-center" style="flex-direction: column;width: 100%;">
        <section class="flex-center" style="width: 100%;">
            <i class="fa-solid fa-user-tie user-icon"></i>
            <section class="flex-center" style="flex-direction: column;">
                <h1 class="user-name-surname">{{ user.name + " " + user.surname }}</h1>
                <h2 class="ts-xl">{{ user.email }}</h2>
            </section>
        </section>
        {% if permission %}
        <section class="margin-y">
            <h1 aria-label="error heading">Profile options</h1>
            <div class="primary-spliter" aria-label="spliter"></div>
        </section>
        <section class="flex-center profile-options">
            <a href="{{ url_for('changing_email') }}">
                <button class="secondary-button" aria-label="changing email button">
                    <span aria-hidden="true" class="ts-xl">
                        <i class="fa-solid fa-envelope"></i> Change email adress
                    </span>
                </button>
            </a>
            <a href="{{ url_for('changing_password') }}">
                <button class="secondary-button">
                    <span aria-hidden="true" class="ts-xl">
                        <i class="fa-solid fa-key"></i> Change password
                    </span>
                </button>
            </a>
            <a href="{{ url_for('changing_data') }}">
                <button class="secondary-button">
                    <span aria-hidden="true" class="ts-xl">
                        <i class="fa-solid fa-user"></i> Change name, surname
                    </span>
                </button>
            </a>
        </section>
        {% endif %}
    </section>
    {% endif %}
{% endblock %}