
{% extends "base.html" %}

{% block title %}
    My votes - E-voting app
{% endblock %}

{% block header %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('get_style', styleFile='votes') }}">
{% endblock %}

{% block main %}
    <section class="flex-center main-container">
        <section class="flex-center title-container">
            {% if success %}
                <section class="margin-y">
                    <p class="success-message"><i class="fa-solid fa-check"></i> {{ success }}</p>
                </section>
            {% endif %}
            <section>
                <h1>Create your new vote</h1>
                <div class="primary-spliter" aria-label="spliter"></div>
            </section>
            <a href="{{ url_for('creating_vote')}}">
                <button class="primary-button margin-y">
                    <span class="ts-lg" aria-hidden="true">
                        <i class="fa-solid fa-plus"></i> Create vote
                    </span>
                </button>
            </a>
        </section>
        <section class="flex-center votes-search-container">
            <section>
                <h1>My votes</h1>
                <div class="primary-spliter" aria-label="spliter"></div>
            </section>
            <form method="get" action="{{ url_for('votes_page')}}" class="votes-search-form">
                <button class="primary-button">
                    <span class="ts-md" aria-hidden="true">
                        <i class="fa-solid fa-magnifying-glass"></i> Search
                    </span>
                </button>
                <section class="input-group">
                    <input type="text" name="titleFilter" aria-label="title filter input" placeholder="Filter by title" value="{{ request.args.get('titleFilter', '') }}">
                </section>
                <select name="status" class="primary-select">
                    <option value="" style="display: none;" >Status filter</option>
                    <option value="" {{ 'selected' if request.args.get("status") == '' }}>None</option>
                    <option value="In progress" {{ 'selected' if request.args.get("status") == 'In progress' }}>In progress</option>
                    <option value="Waiting" {{ 'selected' if request.args.get("status") == 'Waiting' }}>Waiting</option>
                    <option value="Ended" {{ 'selected' if request.args.get("status") == 'Ended' }}>Ended</option>
                </select>
            </form>
        </section>
            {% if votes %}
                <section style="margin-top: 3rem;margin-bottom: 3rem;" class="votes-grid">
                {% for element in votes %}
                    <section class="vote-container">
                        <section class="{{ 'success-message' if element.status == 'In progress' else 'warning-message' if element.status == 'Waiting' else 'error-message' }}" style="text-align: center;">
                            <h3>{{ element.status }}</h3>
                        </section>
                        {% if element.status == "Ended" %}
                            <section class="success-message" style="text-align: center;">
                                <h3>Winner: {{ (element.options|max(attribute='votingCount')).name }}</h3>
                            </section>
                        {% endif %}
                        <section>
                            <h2 style="text-align: center;">{{ element.title }}</h2>
                            <div class="primary-spliter"></div>
                        </section>
                        <section class="flex-center vote-options-container">
                            <p>{{ element.startDate }} - {{ element.endDate }}</p>
                        </section>
                        <section class="vote-options-container">
                            <h3>Vote options</h3>
                            {% for voteOption in element.options %}
                                <ul>
                                    {% if element.realTimeResults or element.status == "Ended" %}
                                        <li><span style="font-weight: 700;">{{ voteOption.name[:30] + "..." if voteOption.name|length > 30 else voteOption.name }}</span> votes: {{ voteOption.votingCount }}</li>
                                    {% else %}
                                        <li><span style="font-weight: 700;">{{ voteOption.name[:30] + "..." if voteOption.name|length > 30 else voteOption.name }}</span></li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </section>
                        <section class="vote-options-container">
                            <h3>Description</h3>
                            <p>{{ element.description[:100] + "..." if element.description|length > 100 else element.description }}</p>
                        </section>
                        <section class="vote-options-container">
                            <h3>Real time results: {{ 'YES' if element.realTimeResults else 'NO' }}</h3>
                        </section>
                        <section class="vote-options-container">
                            <h3>Actions</h3>
                            <section class="flex-center" style="justify-content: space-around;">
                                <a href="{{ url_for('preview', idVote=element.id, originPage='votes_page') }}" class="primary-button">
                                    Preview
                                </a>
                                <a href="{{ url_for('deleting_vote', idVote=element.id) }}" class="danger-button">
                                    Delete
                                </a>
                            </section>
                        </section>
                    </section>
                {% endfor %}
            </section>
            {% else %}
                <h1 style="text-align: center;margin-top: 3rem;">You have nothing there!</h1>
            {% endif %}
    </section>

{% endblock %}