

{% extends "base.html" %}

{% block title %}
    Changing password - E-voting app
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('get_style', styleFile='form') }}">
{% endblock %}

{% block main %}
<section class="form-title">
    <h1 class="secondary-box">Changing password</h1>
</section>
<form class="card form-card" method="post">
    <section class="input-group">
        <p><i class="fa-solid fa-key"></i> new password</p>
        <input type="password" placeholder="new password" name="password" aria-label="password-input" value="{{ values.password }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-key"></i> repeat password</p>
        <input type="password" placeholder="repeat new password" name="confirmPassword" aria-label="confirm-password-input" value="{{ values.confirmPassword }}">
    </section>
    <button class="primary-button margin-y" type="submit" aria-label="confirm">
        <span class="ts-sm" aria-hidden="true">
            Change password
        </span>
    </button>
    <section class="errors-container">
        {% if errors %}
            {% for value in errors.values() %}
            <p class="error-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ value[0] }}</p>
            {% endfor %}
        {% endif %}
    </section>
</form>
<a class="primary-button back-button" href="{{ url_for('user_data', id=session.get('idUser')) }}">
    <span class="ts-sm" aria-hidden="true">
        Back
    </span>
</a>

{% endblock %}