

{% extends "base.html" %}

{% block title %}
    Changing user Data - E-voting app
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('get_style', styleFile='form') }}">
{% endblock %}

{% block main %}
<section class="form-title">
    <h1 class="secondary-box" aria-label="form title">Changing user data</h1>
</section>
<form class="card form-card" method="post">
    <section class="input-group">
        <p><i class="fa-solid fa-user"></i> Name</p>
        <input type="text" placeholder="new name" name="name" aria-label="name input" value="{{ values.name }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-user"></i> Surname</p>
        <input type="text" placeholder="new surname" name="surname" aria-label="surname input" value="{{ values.surname }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-file"></i> Description</p>
        <textarea type="text" placeholder="profile description" name="profileDescription" aria-label="profile description input">{{ values.profileDescription }}</textarea>
    </section>
    <button class="primary-button" style="margin-top: 1rem;" type="submit" aria-label="confirm button">
        <span class="ts-sm" aria-hidden="true">
            Change data
        </span>
    </button>
    <section class="errors-container">
        {% if errors %}
            {% for value in errors.values() %}
            <p class="error-message" aria-label="error message"><i class="fa-solid fa-triangle-exclamation"></i> {{ value[0] }}</p>
            {% endfor %}
        {% endif %}
    </section>
</form>
<a class="primary-button back-button" href="{{ url_for('user_data', id=session.get('idUser')) }}" aria-label="back button">
    <span class="ts-sm" aria-hidden="true">
        Back
    </span>
</a>

{% endblock %}