
{% extends "base.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
<section style="margin-bottom: 2rem;margin-top: 2rem;">
    <h1 class="secondary-box">Log in</h1>
</section>
<form class="card" method="post" style="width: 400px;">
    <section class="input-group">
        <p><i class="fa-solid fa-envelope"></i> email</p>
        <input type="email" placeholder="e.g. name@domain.com" name="email" aria-label="email-input" value="{{ values.email }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-key"></i> password</p>
        <input type="password" placeholder="Enter password" name="password" aria-label="password-input" value="{{ values.password }}">
    </section>
    <button class="primary-button" style="margin-top: 1rem;" role="submit" aria-label="confirm">
        <span style="font-size: 1.2rem;" aria-hidden="true">
            Log in
        </span>
    </button>
    <section style="margin-top: 1rem;">
        {% if errors %}
            {% for value in errors.values() %}
            <p class="error-message"><i class="fa-solid fa-triangle-exclamation"></i> {{ value[0] }}</p>
            {% endfor %}
        {% endif %}
    </section>
</form>
<a style="font-size: 1.1rem;margin-top: 2rem;" href="{{ url_for('register_user') }}">
    I don't have a account
</a>
<a class="primary-button" style="margin-top: 2rem;margin-bottom: 2rem;" href="{{ url_for('welcome_page') }}">
    <span style="font-size: 1.2rem;" aria-hidden="true">
        Back
    </span>
</a>

{% endblock %}