
{% extends "base.html" %}

{% block title %}
    Registration - E-voting app
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('get_style', styleFile='form') }}">
{% endblock %}

{% block main %}
<section class="form-title">
    <h1 class="secondary-box" aria-label="form title">User register</h1>
</section>
<form class="card form-card" method="post">
    <section class="input-group">
        <p><i class="fa-solid fa-user"></i> name</p>
        <input type="text" placeholder="e.g. Jan" name="name" aria-label="name input" value="{{ values.name }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-user"></i> surname</p>
        <input type="text" placeholder="e.g. Kowalski" name="surname" aria-label="surname input" value="{{ values.surname }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-envelope"></i> email</p>
        <input type="email" placeholder="e.g. name@domain.com" name="email" aria-label="email input" value="{{ values.email }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-key"></i> new password</p>
        <input type="password" placeholder="new password" name="password" aria-label="password input" value="{{ values.password }}">
    </section>
    <section class="input-group">
        <p><i class="fa-solid fa-key"></i> repeat password</p>
        <input type="password" placeholder="repeat your password" name="confirmPassword" aria-label="confirm password input" value="{{ values.confirmPassword }}">
    </section>
    <button class="primary-button margin-y" type="submit" aria-label="confirm button">
        <span class="ts-sm" aria-hidden="true">
            Register
        </span>
    </button>
    <section class="errors-container">
        {% if errors %}
            {% for value in errors.values() %}
            <p class="error-message" aria-label="error message"><i class="fa-solid fa-triangle-exclamation"></i> {{ value[0] }}</p>
            {% endfor %}
        {% endif %}
    </section>
</form>
<a class="already-having-account" href="{{ url_for('login_user')}}" aria-label="login hyperlink">
    I have already an account
</a>
<a class="primary-button back-button" href="{{ url_for('main_page') }}" aria-label="back button">
    <span class="ts-sm" aria-hidden="true">
        Back
    </span>
</a>

{% endblock %}