<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-voting flask app{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('uploaded_file', filename='evoting-logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('get_style') }}">
    {% block head %}
    
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}

        {% endblock %}
    </header>
    <main>
        {% block main %}

        {% endblock %}
    </main>
    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
</body>
</html>