
{% extends "base.html" %}

{% block header %}

<nav class="navbar" role="navigation">
    <section style="justify-content:space-between;display:flex;width: 100%;align-items: center;">
        <section class="flex-center">
            <section class="app-logo" aria-label="application-logo">
                <i class="fa-solid fa-square-poll-vertical" style="color: white;transform: scale(2);"></i>
            </section>
            <h2 class="app-title">E-voting App</h2>
        </section>
        <section style="margin-right: 1rem;">
            <button class="primary-button" aria-label="login-button">
                <span style="font-size: x-large;" aria-hidden="true">
                    Log in
                </span>
            </button>
        </section>
    </section>
</nav>

{% endblock %}

{% block main %}

<h1 class="welcome-heading" role="heading" aria-label="welcoming"><span style="font-size: 3rem;color: black;">Welcome</span><br> to E-voting Application</h1>
<p class="welcome-subtitle" aria-label="welcome-subtitle">
    You can easily creating votes and give your vote from every place on the earth.<br> Everything efficient, fast and secure with our system
</p>
<p class="welcome-subtitle" aria-label="register-instruction" style="font-size: 1.4rem;">
    Register now, just by clicking the button below
</p>
<section style="margin: 2rem 0;">
    <button class="primary-button" aria-label="register button">
         <span style="font-size: 1.8rem;" aria-hidden="true">
            Get start
        </span>
    </button>
</section>

<p class="welcome-subtitle" aria-label="having-account-paragraph" style="font-size: 1.4rem;">
    **if you have an account, just log in 
</p>

{% endblock %}

{% block footer %}
    <section class="copyright-section">
        <h2>&copy; 2025 Kamil Kijak</h2>
        <h2>Application powered using python with <a target="_blank" href="https://flask.palletsprojects.com/en/stable/">flask</a> framework</h2>
    </section>
{% endblock %}