

<nav class="navbar" role="navigation">
    <section style="justify-content:space-between;display:flex;width: 100%;align-items: center;">
        <section class="flex-center">
            <section class="app-logo" aria-label="application-logo">
                <i class="fa-solid fa-square-poll-vertical" style="color: white;transform: scale(2);"></i>
            </section>
            <h2 class="app-title">E-voting App</h2>
        </section>
        <section style="margin-right: 1rem;">
            <button class="primary-button" aria-label="login-button">
                <span style="font-size: x-large;" aria-hidden="true">
                    Log in
                </span>
            </button>
        </section>
    </section>
</nav>