

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --first-color:#cc0000;
    --second-color:#2A2929;
    --hover-second-color:#3C3C3C;
    --error-background-color:#f19595;

    --success-color:#33A008;
    --success-background-color:#98d580;
}

.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

a {
    color: inherit;
}

header nav {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--first-color);
    column-gap: .5rem;
    color: white;
}


header nav .app-logo {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    width: 40px;
    height: 40px;
}

header nav .id-heading {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
}

footer .copyright-section {
    background-color: var(--first-color);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.copyright-section h2 {
    padding: 1rem;
    font-size: 1rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .first-heading {
    color: var(--second-color);
    font-weight:800;
    text-align: center;
}

main .card {
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 25px 3px var(--second-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

main .welcome-heading {
    font-size: 2.5rem;
    font-weight:800;
    text-align: center;
    color: var(--second-color);
    margin-top: 2rem;
}
main .welcome-subtitle {
    font-size: 1rem;
    font-weight:800;
    text-align: center;
    color: var(--second-color);
    margin-top: 2rem;
}

.input-group {
    margin: .3rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.input-group p {
    font-weight: bold;
}
.input-group input {
    height: 40px;
    font-size: 1rem;
    padding: .2rem .4rem;
    border: 2px solid var(--second-color);
    border-radius: 5px;
}

.primary-button {
    padding: .5rem 1rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-color);
    transition:all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.primary-button:hover {
    background-color: var(--hover-second-color);
}

.secondary-button {
    padding: .5rem 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 0;
    transition:all 0.1s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.secondary-button:hover {
    background-color: var(--first-color);
    color: white;
}

.primary-box {
    padding: .5rem 1rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-color);
}

.secondary-box {
    padding: .5rem 1rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: 0;
    background-color: var(--first-color);
}

.error-message {
    padding: .5rem;
    background-color: var(--error-background-color);
    color: var(--first-color);
    font-weight: bold;
    border: 3px solid var(--first-color);
    border-radius: 5px;
    margin: .5rem 0;
}
.success-message {
    padding: .5rem;
    background-color: var(--success-background-color);
    color: var(--success-color);
    font-weight: bold;
    border: 3px solid var(--success-color);
    border-radius: 5px;
    margin: .5rem 0;
}

.primary-spliter {
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}
