

.main-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.search {
    display: flex;
    align-items: center;
    row-gap: 1rem;
    flex-direction: column;
}

.search .options {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

.votes-grid {
    margin: 3rem 0;
    padding-bottom: 2rem;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .search .options {
        flex-direction: column;
        width: auto;
        row-gap: 1.3rem;
    }
    .votes-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .search .options {
        flex-direction: column;
        row-gap: 1.3rem;
    }
    .votes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}