

.main-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.vote-title {
    margin: 2rem 0;
    text-align: center;
}

.dates-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
}