

.user-icon {
    transform: scale(5);
    height: 100%;
    margin: 1.5rem 6rem 0 0;
}

.user-name-surname {
    font-size: 3rem;
    margin: 2rem 0;
}

.profile-options {
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: start;
    margin-bottom: 2rem;
}