

.user-icon {
    transform: scale(5);
    height: 100%;
    margin: 1.5rem 6rem 0 0;
}

.user-name-surname {
    font-size: 3rem;
    margin: 2rem 0;
}

.profile-options {
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: start;
    margin-bottom: 2rem;
}

.description {
    margin: 2.4rem 0;
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .profile-description {
        flex-direction: column;
        align-items: center;
    }
    .user-icon {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .profile-description {
        flex-direction: column;
        align-items: center;
    }
    .user-icon {
        margin: 2rem 0;
    }
}

.profile-options a {
    width: 100%;
}